#gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
#gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #D9EDF7;
}
#gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
#gridtable input[type="text"], #textarea, #gridtable input[type="number"], #gridtable input[type="date"] {
  width: 100%;
  height: 100%;
  border-width: 0px;
	display:table-cell; 
}